# Core functionality - changes here should be rare!
/src/app.py                   @Jmeek43
/src/backend/database.py      @Jmeek43
/src/backend/routers/auth.py  @Jmeek43

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Jmeek43
